
.normal{
    font-weight:normal;
}

.bold{
    font-weight:bold;
}

.bolder{
    font-weight:bolder;
}

.lighter{
    font-weight:lighter;
}

.one{
    font-weight:100;
}

.two{
    font-weight:200;
}

.three{
    font-weight:300;
}

.four{
    font-weight:400;
}

.five{
    font-weight:500;
}

.six{
    font-weight:600;
}

.seven{
    font-weight:700;
}

.eight{
    font-weight:800;
}

.nine{
    font-weight:900;
}


