

.box{
    margin:10px;
    background-color:yellow;
}

.all-sides{
    padding:80px;
}

.top{
    padding-top: 80px;
}

.right{
    padding-right:80px;
}

.bottom{
    padding-bottom: 80px;
}

.left{
    padding-left: 80px;
}
