

.container{
    margin:10px;
    background-color:yellow;
    width:400px;
}

.border{
    border:2px solid greenyellow;
    padding:5px;
}

.all-sides{
    margin:50px;
}

.top{
    margin-top: 50px;
}

.right{
    margin-right:50px;
}

.bottom{
    margin-bottom: 50px;
}

.left{
    margin-left: 50px;
}
